.body_background{
    background: url(background.jpg);
    background-size: cover;
}

.login-page{
    height: 700px;
    width: 500px;
    border: 2px solid red;
    background: white;
}

#logo{
    height: 300px;
    width: 70%;
    padding: 0;
    margin: 0;
}